PORT=5000
NODE_ENV=development

# MySQL Connection String Format: mysql://USER:PASSWORD@HOST:PORT/DATABASE_NAME
# Contoh XAMPP default tanpa password:
DATABASE_URL="mysql://root:@localhost:3306/cha_technician_inventory"

# JWT Secret Key untuk enkripsi token session auth
JWT_SECRET="cha-technician-inventory-secret"
JWT_EXPIRES_IN="1d"